In [2]:
def librerias():
    
    '''Empezamos importando las librerìas necesarias para el desarrollo del algoritmo '''
    
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import export_graphviz
from six import StringIO 
from IPython.display import Image  
import pydotplus
from sklearn.metrics import confusion_matrix
import seaborn as sn
import matplotlib.pyplot as plt

print(librerias.__doc__)

Empezamos importando las librerìas necesarias para el desarrollo del algoritmo

In [4]:
def importarData():
   
    ''' Creamos la funciòn para importar nuestro Dataset, el cual se trata de conocer si una persona padece Diabetes o no! '''
    
pima= pd.read_csv('Dataset_Diabetes.csv')

print(importarData.__doc__)

pima.head()

 Creamos la funciòn para importar nuestro Dataset, el cual se trata de conocer si una persona padece Diabetes o no!

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [5]:
def DelectEsp():
    
    ''' Creamos una función utilizando el método Strip, el cual nos permite eliminar espacios en blancos encontrados dentro de la colunma CLASS '''

pima['CLASS']= pima['CLASS'].str.strip()

print(DelectEsp.__doc__)

 Creamos una función utilizando el método Strip, el cual nos permite eliminar espacios en blancos encontrados dentro de la colunma CLASS

In [6]:
def TransDatos():
    
     ''' Realizamos una función mediante el uso del método map para transformar los datos de las columnas Gender y Class a datos categóricos '''

transf1 = {'F':0, 'M':1, 'f':0}
pima['Gender'] =pima['Gender'].map(transf1)
transf2 = {'N':0,'P':1,'Y':2}
pima['CLASS'] =pima['CLASS'].map(transf2)

print(TransDatos.__doc__)

 Realizamos una función mediante el uso del método map para transformar los datos de las columnas Gender y Class a datos categóricos

In [7]:
def importarData():

    ''' Se realiza una función mediante el uso del método head,el cual nos imprime los primeros datos del Dataset '''

print(importarData.__doc__)

pima.head(10)

 Se realiza una función mediante el uso del método head,el cual nos imprime los primeros datos del Dataset

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
5,634,34224,0,45,2.3,24,4.0,2.9,1.0,1.0,1.5,0.4,21.0,0
6,721,34225,0,50,2.0,50,4.0,3.6,1.3,0.9,2.1,0.6,24.0,0
7,421,34227,1,48,4.7,47,4.0,2.9,0.8,0.9,1.6,0.4,24.0,0
8,670,34229,1,43,2.6,67,4.0,3.8,0.9,2.4,3.7,1.0,21.0,0
9,759,34230,0,32,3.6,28,4.0,3.8,2.0,2.4,3.8,1.0,24.0,0

In [8]:
def defCarac():
    

    ''' Creamos la funciòn que nos permite separar los datos de nuestra Dataset, en este caso escogemos las caracteristicas (X) la cuales nos serviran para realizar nuestra predicciòn'''

caracteristicas = ['No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']

X = pima[caracteristicas]
    
    
print(defCarac.__doc__)

 Creamos la funciòn que nos permite separar los datos de nuestra Dataset, en este caso escogemos las caracteristicas (X) la cuales nos serviran para realizar nuestra predicciòn

In [9]:
def defEtiq():

    ''' Seguidamente escogemos la etiqueta la cual nos permitirà predecir un valor'''
    
y = pima.CLASS

print(defEtiq.__doc__)

 Seguidamente escogemos la etiqueta la cual nos permitirà predecir un valor

In [12]:
def crearFunc():
    
    ''' Creamos la funciòn para poder entrenar el modelo, se toma el 70% de datos para entrenar y el 30% de datos se toma para realizar las pruebas al azar '''

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
    
print(crearFunc.__doc__)

 Creamos la funciòn para poder entrenar el modelo, se toma el 70% de datos para entrenar y el 30% de datos se toma para realizar las pruebas al azar

In [13]:
def funcArb():
    
    ''' Como primer paso se crea el àrbol de decisiòn y se entrena el modelo para que revele la predicciòn de los datos de prueba'''

clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
    
print(funcArb.__doc__)

 Como primer paso se crea el àrbol de decisiòn y se entrena el modelo para que revele la predicciòn de los datos de prueba